#dropdownMenuButton1 {
  width: 210px;
}
.app2 {
  font-size: 13px;
}
.lmsheight {
  height: 40px;
}
.searchwid {
  width: 50px;
  height: 44px;
}
.bgcolor {
  background-color: #d2d5d6;
}

/* for profile picture using name  */
#profileImage {
  font-size: 15px;
  width: 35px;
  height: 35px;
}
